[submodule "vendor/christianh814-git-structure-example"]
	path = vendor/christianh814-git-structure-example
	url = https://github.com/christianh814/example-kubernetes-go-repo.git
[submodule "vendor/christianh814-argocd-v2.10-examples"]
	path = vendor/christianh814-argocd-v2.10-examples
	url = https://github.com/christianh814/argocd-v2.10-examples.git
[submodule "vendor/gitops-cert-level-2-examples"]
	path = vendor/gitops-cert-level-2-examples
	url = https://github.com/kostis-codefresh/gitops-cert-level-2-examples.git
[submodule "vendor/gitops-playground"]
	path = vendor/gitops-playground
	url = https://github.com/cloudogu/gitops-playground.git
[submodule "vendor/ArgoCD-in-Practice"]
	path = vendor/ArgoCD-in-Practice
	url = https://github.com/PacktPublishing/ArgoCD-in-Practice.git
[submodule "vendor/kustomize"]
	path = vendor/kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
